@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body, html{
    margin: 0;
    font-family: 'Acme', sans-serif;
    height: 100%;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

header {
    grid-column: 1/3;
    display: flex;
    background-color: pink;
    align-items: center;
    padding-left: 25px;
}

.left-btn {
    display: flex;
    gap:10px;
}

.burger-btn,
.home-btn {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 28px;
}

.home-btn img{
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

.right-btn{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 18px;
    margin-right: 80px;
    cursor: pointer;
}

.right-btn img{
    width: 30px;
    height: 30px;
}

.title {
    flex: 1; 
    text-align: center;
    font-size: 40px;
}


nav{
    background-color: rgba(255, 192, 203, 0.3);
    padding: 9%;
}

.nav-icon img{
    width: 45px;
    height: 45px;
}

.nav-icon{
    display: flex;
    align-items: center;
    gap:8px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.nav-icon:hover,
.tasks-container:hover
{
    background-color: #f9cad2; 
    color: white; 
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.3s ease; 

}
.burger-btn:hover,
.home-btn:hover,
.right-btn:hover
{
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}


.home, .projects{
    font-size: 28px;
    border-bottom: 2px solid pink;
}

.projects{
    padding-top: 7px;
}

.tasks-container{
    display: flex;
    align-items: center;
    padding:10px;
    gap:10px;
    font-size: 18px;
    cursor: pointer;
}

.tasks-container img{
    width: 30px;
    height: 30px;
}

.content{
    background-color: rgb(247, 246, 246);
}

.page-title{
    padding: 1% 10%;
}