@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body, html{
    margin: 0;
    font-family: 'Acme', sans-serif;
    height: 100%;
}

.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 8fr;
}

header {
    grid-column: 1/3;
    display: flex;
    background-color: pink;
    align-items: center;
    padding-left: 25px;
}

.left-btn {
    display: flex;
    gap:10px;
}

.burger-btn,
.home-btn {
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 28px;
}

.home-btn img{
    width: 30px;
    height: 30px;
    padding-top: 10px;
}

.right-btn{
    display: flex;
    align-items: center;
    gap:10px;
    font-size: 18px;
    margin-right: 80px;
    cursor: pointer;
}

.right-btn img{
    width: 30px;
    height: 30px;
}

.title {
    flex: 1; 
    text-align: center;
    font-size: 40px;
}


nav{
    background-color: rgba(255, 192, 203, 0.3);
    padding: 9%;
}

.nav-icon img{
    width: 45px;
    height: 45px;
}

.nav-icon{
    display: flex;
    align-items: center;
    gap:8px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

.nav-icon:hover,
.tasks-container:hover
{
    background-color: #f9cad2; 
    color: white; 
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}

.burger-btn:hover,
.home-btn:hover,
.right-btn:hover
{
    transform: scale(1.05); 
    transition: background-color 0.3s ease, transform 0.3s ease; 
}


.home, .projects{
    font-size: 28px;
    border-bottom: 2px solid pink;
}

.projects{
    padding-top: 7px;
}

.tasks-container{
    display: flex;
    align-items: center;
    padding:10px;
    gap:10px;
    font-size: 18px;
    cursor: pointer;
}

.tasks-container img{
    width: 30px;
    height: 30px;
}

.content{
    background-color: rgb(247, 246, 246);
}

.page-title{
    padding: 1% 10%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
    max-height: 80%;
    position: absolute;
    padding: 1.5rem 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    width: 50%;
  }

  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    font-size: 18px;
    border-top: 1px solid rgb(167, 167, 167);
    padding-top: 10px;
  }
  
  .form-row label {
    display: block;
    padding: 10px 0px;
  }

  .form-row input,
  .form-row select,
  textarea{
    width: 90%;
    font-size: 16px;
    padding: 5px;
    border:1px solid #bbbcbd;
    border-radius: 3px;
  }

  textarea{
    max-height: 200px;
    resize: vertical;
    min-height: 20px;
  }

  .title-modal{
    padding-bottom: 15px;
  }

  input:focus,
  select:focus,
  textarea:focus{
    border:2px solid rgb(116, 116, 215);
    box-shadow: 0 0 2px #719ECE;
    outline: none;
}

.top-modal{
    display: flex;
    justify-content: space-between;
}
.close {
    color: #000000;
    font-size: 22px;
    cursor: pointer;
}

.close:hover{
    color:#555;
}

.modal-buttons{
    display: flex;
    justify-content: center;
    gap:10px;
    padding-top: 25px;
}

.add-task,
.cancel-btn{
    padding: 8px 15px;
    font-size: 17px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-task{
    color: white;
    background-color: rgb(177, 21, 47);
    border: transparent;
}

.cancel-btn{
    border: 1px solid black;
    background-color: #ccc3c338; 
    
}

.add-task:hover {
    background-color: rgb(255, 153, 170); 
}

.cancel-btn:hover {
    background-color: #b9b6b6;
    color:white;
    border: transparent;
}

.big-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container-task{
    display: flex;
    align-items: center;
    border: 1px solid black;
    width: 88%;
    border-radius: 3px;
    margin-left: 6%;
    padding: 5px;
    gap:5px;
}

.left-container-task{
    display: flex;
    flex-direction: column;
    flex:1;
}

.title-task{
    font-size: 18px;
}

.diamond{
    font-size: 30px;
  }
.date{
    font-size: 18px;
}

input[type="checkbox"]{
    width: 18px; 
    height: 18px; 
    cursor: pointer;
}

.important {
    cursor: pointer;
    color: red; 
  }
  
  .not-important {
    cursor: pointer;
    color: rgb(237, 210, 55); 
  }